<html>

    <head>
        <%- include('./partials/header') %>
    </head>

    <body>
        <div class="container">
            <div class="alert alert-warning" role="alert">Error: <%=error%></div>
        </div>
    </body>

</html>

    