<html>

    <head>
        <%- include('./partials/header') %>
    </head>

    <body>
        <div class="container">
            <table class="table table-dark">
                <thead>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </thead>
                <tbody>
                    <% productos.forEach(prd =>{ %>
                        <tr>
                            <td><%=prd.nombre %></td>
                            <td><%=prd.precio %></td>
                            <td><img src=<%=prd.foto %> /></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <a href="/">
                <button class="btn btn-link">Cargar nuevo producto</button>
            </a>
        
        </div>

    </body>

</html>